<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Практика по Vue.js 3</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
	</head>
	<body>
		<div id="app">
			<!-- Директивы -->
			<h1 v-bind:style="{ color: textColor }">{{ header }}</h1>
			
			<!-- Аналогичное определение директивы (v-bind можно опустить, чтобы пользоваться сокращённым вариантом записи) -->
			<!--<h1 :style="{ color: textColor }">{{ header }}</h1>-->
			
			<!-- Обработка событий -->
			<button @click="changeMessage">Изменить цвет заголовка</button>

			<p>
				<label>Введите что-то: </label>
				<input v-model="userInput" />
			<p>
			
			<!-- Watch -->
			<p>Следите за изменением userInput: {{ watchedInput }}</p>
			
			<!-- Вычисляемое свойство -->
			<p>Длина сообщения: {{ userInputLength }}</p>

			<!-- Методы -->
			<p>Сообщение в верхнем регистре: {{ toUpperCase() }}</p>
			
			<!-- Подключение дочернего компонента -->
			<test-component :prop-message="userInput"></test-component>

			<!-- Отрисовка списка -->
			<ul>
				<li v-for="item in items" :key="item.id">{{ item.name }}</li>
			</ul>

			<!-- Формы & v-model -->
			<form @submit="submitForm">
				<label>Введите сообщение для отправки: </label>
				<input v-model="formInput" />
				<button type="submit">Отправить</button>
			</form>
			
		</div>

		<script>
			// Component Definition
			const TestComponent = {
				props: ['propMessage'],
				template: '<p>Props из родительского компонента: {{ propMessage }}</p>'
			};
			
			const app = Vue.createApp({
				data() { // определение и инициализация данных
					return {
						header: 'Практика по Vue.js 3',
						textColor: '',
						items: [
							{ id: 1, name: 'Пункт 1' },
							{ id: 2, name: 'Пункт 2' },
							{ id: 3, name: 'Пункт 3' }
						],
						userInput: '',
						formInput: '',
						watchedInput: '',
					};
				},
				computed: { // определение вычисляемых свойств
					userInputLength() {
						return this.userInput.length;
					}
				},
				watch: { // наблюдатели (отслеживают изменения в компоненте)
					// watcher для userInput
					userInput(newValue, oldValue) {
						this.watchedInput = `cтарое значение: ${oldValue}, новое значение: ${newValue}`;
					},
				},
				methods: {
					// методы компонента
					changeMessage() {
						this.generateRandomColor();
					},
					toUpperCase() {
						return this.userInput.toUpperCase();
					},
					submitForm(e) {
						e.preventDefault(); // запрещаем автоматическую отправку на сервер, так как требуется вручную обрабатывать данные из формы
						var text = 'Данные из формы получены: ' + this.formInput;
						alert(text);
					},
					generateRandomColor() { // генерация случайного цвета в формате HEX
						const randomColor = '#' + Math.floor(Math.random()*16777215).toString(16);
						this.textColor = randomColor;
					}
				},
				mounted() {
					// вызываем generateRandomColor при монтировании
					this.generateRandomColor();
				},
			});
			
			// регистрируем компонент
			app.component('test-component', TestComponent);
			
			// монтируем компонент
			app.mount('#app');
		</script>
	</body>
</html>